:root {
    --color-verde: #02B95E;
    --color-azul: #0A2149;
    --color-azul-claro: #143DDA;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
    --color-rojo: #FE0000;
    --color-amarillo: #FFCA00;

}




/* Estilos para pantallas cuadradas*/
@media (min-width: 600px) and  (max-width: 1024px){

    .contenedor-intro {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: var(--color-azul);
        overflow: hidden;

        /* perspective: 100px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        animation: intro 5s linear 0s forwards;
        z-index: 2;

    }

    .logo-intro {
        display: flex;
        height: 50vh;
        object-fit: cover;
        padding: 0;
        margin: 0;

        border-radius: 10%;
        background-size: cover;
        background-position: center;

        /* Inicia fuera de la pantalla */
        transform-style: preserve-3d;
        /* transform-origin: 50% 50%; */

        animation:
            girar3D linear 3s infinite;
    }

    .marco-intro {
        position: absolute;
        z-index: 1;
        height: 100vw;
        width: 100vh;
        transform:
            rotate(90deg);

        animation: marco-intro ease-in-out 10s infinite;
    }





    .contenedor {
        position: absolute;
        top: 0;
        left: 0;
        background: var(--color-verde);
        background: radial-gradient(circle,rgba(2, 185, 94, 1) 0%, rgba(2, 185, 94, 1) 30%, rgba(0, 94, 47, 1) 100%);
        width: 100vw;
        height: 100vh;
        display: flex;
        z-index: 0;

        align-items: center;

        .cancha {
            width: 100vw;
            position: absolute;
            bottom: -300px;
            left: 0;
            display: none;
        }
    }

    .layout {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }

    .col1 {
        width: 30vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .col2 {
        width: 70vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        overflow-y: scroll;

    }


    .logo-fondo {
        display: none;
    }

    .logo-fondo-blanco {
        display: flex;
        width: 64%;
        object-fit: contain;
        /* z-index: -1; */
        opacity: 1;
        margin-left: 53%;

        /* Inicia fuera de la pantalla */
        transform-style: preserve-3d;
        /* transform-origin: 50% 50%; */

        animation:
            girar3D-logo-blanco ease-in-out 10s infinite;
    }


    .marco {
        position: absolute;
        height: 100%;
        top: 0;
        left: -70px;

    }



    h1 {
        color: var(--color-amarillo);
        text-align: center;
        font-size: 3.8rem;
        margin-top: 0;
        animation:
            sombra linear 10s infinite;
        
    }

    #tablaranking {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        /* font-size: 1.4rem; */
        margin-inline: 0rem;

    }


    .borde-redondo {
        border: 3px solid var(--color-blanco);
        border-radius: 18px;
        padding: 0.5rem;
    }


    /* .titulo {
        font-size: 0.8rem;
        display: grid;
        grid-template-columns: 80px 1fr 80px;
        align-items: center;

        padding: 12px;
        border-radius: 8px;

        border: 4px solid var(--color-blanco);

        box-sizing: border-box;

        color: var(--color-blanco);
    } */


    .titulo-tabla {
        font-size: 1.1rem;
        text-align: center;
        font-weight: bold;

        display: grid;
        grid-template-columns: 10% 65% 25%;

        align-items: center;

        border-radius: 8px;

        box-sizing: border-box;
        transition:
            background-color .5s ease,
            box-shadow .5s ease;

        color: var(--color-blanco);
    }


    .fila {
        display: grid;
        grid-template-columns: 10% 65% 25%;

        align-items: center;

        /* padding: 12px; */
        border-radius: 20px;



        box-sizing: border-box;
        transition:
            background-color .5s ease,
            box-shadow .5s ease;

        color: var(--color-blanco);
    }

    .bandera {
        height: 30px;
        width: 30px;
        position: absolute;
        top: 0.3rem;
        left: 18px;
        border-radius: 15px;
        object-fit: cover;
        border: 5px solid var(--color-blanco);
        box-shadow: 3px 5px 16px var(--color-negro-transparente);
        
    }


    .bandera{

        filter:
            drop-shadow(0 15px 20px rgba(0,0,0,.4));

        transition:.4s;
         perspective:1000px;




    /* transform:
        perspective(1200px)
        rotateX(8deg)
        rotateY(-8deg); */

    filter:
        drop-shadow(
            0 8px 8px rgba(0,0,0,.2)
        )
        drop-shadow(
            0 25px 25px rgba(0,0,0,.25)
        );

    }

    .bandera:hover{

        transform:
            translateY(-10px)
            scale(1.05);

        filter:
            drop-shadow(0 30px 30px rgba(0,0,0,.5));
    }


    .posicion {

        margin-right: 0.3rem;
        font-size: 1.8rem;

    }

    .nombre {
        margin-right: 0.2rem;
        padding-left: 55px !important;
        font-size: 1.7rem;

    }

    .puntos {
        font-size: 1.8rem;

    }


    /* Giro completo en Y  */
    @keyframes girar3D {

        0% {
            transform:
                rotateY(0deg) scale(400%);
            translate: 0% 50%;

        }

        33% {
            transform:
                rotateY(360deg) scale(50%);
            translate: 0% 0%;

        }

        50% {
            transform:
                rotateY(720deg) scale(100%);
        }

        90% {
            transform:
                rotateY(720deg) scale(100%);
            translate: 0% 0%;
        }

        100% {
            transform:
                rotateY(720deg) scale(400%);
            translate: 0% 50%;
        }
    }


    @keyframes marco-intro {
        0% {
            transform:
                scale(100px) rotate(90deg);

        }

        33% {
            transform:
                scale(105%) rotate(90deg);

        }

        66% {
            transform:
                scale(110%) rotate(90deg);

        }

        90% {
            transform:
                scale(105%) rotate(90deg);

        }

        100% {
            transform:
                scale(100%) rotate(90deg);

        }
    }


    @keyframes intro {
        0% {
            opacity: 100%;
        }

        90% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            display: none;
        }
    }






        /* Giro completo en Y  */
    @keyframes girar3D-logo-blanco {

        0% {
            transform:
                rotateY(0deg) scale(120%);
            translate: 0% 0%;

        }

        5% {
            transform:
                rotateY(360deg) scale(100%);

        }

        25% {
            transform:
                rotateY(360deg) scale(90%);

        }


        100% {
            transform:
                rotateY(360deg) scale(120%);
        }
    }


    @keyframes sombra{
        0%{
            text-shadow: 0px 0px 0px rgba(0,0,0,0.75);

        }

        50%{
            text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        }

        100%{
            text-shadow: 0px 0px 0px rgba(0,0,0,0.75);
        }
    }

}